<h1>Anticoncepción Forzada</h1>
<p>En GIRE consideramos necesarios que se reconozca la anticoncepción forzada como 
  una forma específica de violencia contra las mujeres, es por eso que abrimos este 
  espacio para que puedas hacernos llegar tu testimonio sobre anticoncepción forzada:</p>
<form [formGroup]="validateForm" (ngSubmit)="register(validateForm)" novalidate>
   
     
  <div>
    <h3>Datos personales</h3>
    <label>Nombre o Seudónimo</label>
    <input type="text" name="name" formControlName="name"  >
    <errors [control]="validateForm.controls.name"></errors>
  </div>
    <div>
    <label>Edad</label>
    <input type="number" name="age" formControlName="age">
    <errors [control]="validateForm.controls.age"></errors>
  </div>
  <div>
    <label>Correo Electrónico</label>
    <input type="text" name="email" formControlName="email" >
    <errors [control]="validateForm.controls.email"></errors>
    <p>Toda tu información es confidencial y ésta no será usada para contactarte. </p>
  </div>
  <div formGroupName="address">
    <h3>Los hechos</h3>
    <div>
      <label>Estado</label>
      <input type="text" name="country" formControlName="country"   minlength="5" maxlength="30">
      <errors [control]="validateForm.controls.address.controls.country"></errors>
    </div>
    <div>
      <label>Municipio</label>
      <input type="text" name="city" formControlName="city">
      <errors [control]="validateForm.controls.address.controls.city"></errors>
    </div>
    <div>
      <label>¿Cuándo ocurrió?</label>
      <input type="date" name="fecha" formControlName="fecha">
    </div>
    <div>
      <label>¿Qué tipo de clínica era?</label>
      <input type="text" name="clinica" formControlName="clinica">
    </div>
    <div>
      <label>¿Cuántos partos habías tenido antes?</label>
      <input type="number" name="partos" formControlName="partos">
    </div>
      <div>
      <label>¿Qué método anticonceptivo te impusieron?</label>
      <input type="text" name="metodo" formControlName="metodo">
    </div>
      <div>
      <label>Tu experiencia</label>
      <textarea rows="4" cols="50"> Cuéntanos los detalles de tu experiencia</textarea>
    </div>
  </div>

   <p> Todas tus respuestas son válidas: {{(validateForm.valid?'Sí':'No')}} </p>  

  <errors [control]="validateForm"></errors>

  <button type="submit" [disabled]="validateForm.invalid">Enviar</button>
</form>
